
body{
    background-color: var(--dark-blue);
    height: 100vh;
    margin: 0;
    color: white;
    font-size: 1.2rem;
}
main{
  width: 100vw;;
  height: 100%;
  overflow: hidden;
}

.main-circles{
  overflow: hidden; 
}

.cirles{
    position: relative;
    z-index: 0;
}

.main-content{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
}


.girl-photo{
width: 30vw;
z-index: 1;
}

.main-text{
    width: 50vw;
    margin-bottom: 15rem;
    padding: 0 5rem;
}

h1{
font-weight: 400;
font-size: 3.9rem;
}

p{

font-weight: 400;
font-size: 1.4rem;
}
.pink-cirle{
    width: 30%;
    padding-bottom: 30%;
    background-color: var(--pink-circle);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: -20%;
}

.blue-cirle{
    width: 30%;
    padding-bottom: 30%;
    background-color: var(--blue-circle);
    border-radius: 50%;
    position:absolute;
    top: -10%;
    left: 20%;
}
.big-blue-cirle{
    width: 30%;
    padding-bottom: 30%;
    background-color: var(--blue-circle);
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 10%);
    left: 95%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease-in-out;
}


@media only screen and (max-width: 575px){

    .girl-photo{
        display:none;
    }  

    .main-content{
        width: 100%;
    }

    .main-text{
        width: 90vw;
        margin-bottom: 30vh;
        padding: 0 1rem;
        
    }

    h1{
        line-height: 5rem;
    }


    .pink-cirle{

        top: 80%;
        left: -10%;
    }
    
    .blue-cirle{
       
        top: 8%;
        left: 20%;
    }
    .big-blue-cirle{
    
        top: calc(100% - 5%);
        left: 98%;
        
    }
}


@media only screen and (min-width: 768px) and (max-width: 991px){

    .main-content{
        height: 100vh;
        padding: 0;
          flex-direction: column-reverse;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
      }

      .main-text{
          padding: 0 1rem;
          width: 80vw;
          margin-top: 30vh;
          margin-bottom: 10vh;
      }

      h1{
        font-size: 5rem;
      }

      p{
        font-size: 2rem;
      }

      .girl-photo{
        height: 50vh;
        width: 50vw;
        z-index: 1;
        }
}