:hover {
  color: white
}

.Footer-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1E1E1E;
  width: auto;
  height: 5vh;
    
}

.Footer-Left {
  width: 30vh;
  height: 5vh;
  display: flex;
  justify-content: space-around;

}

.Footer-Rigth {
  width: 30vh;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  
}