@import url('https://fonts.googleapis.com/css2?family=Itim&family=Poppins:wght@400;500;600;700&display=swap');
:root {
  --purple-bg: #1E1E1E;
  --dark-pink: #3E2D40;
  --dark-blue: #303045;
  --blue-btn: #2250A3;
  --dark-purple: #202027;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}