
:root {
  --purple-bg: #1E1E1E;
  --dark-pink: #AE447E;
  --dark-blue: #303045;
  --blue-btn: #2250A3;
  --dark-purple: #202027;
  --dark-grey: #313351;
  --purple: #262737; 
  --pink: #3E2040;
  --grey: #2F303A;
  
}

* {
  margin: 0;
  padding: 0;
}